@import "bootstrap-social.less";
body {
  background-image: url("http://www.planwallpaper.com/static/images/518151-backgrounds_W3qVPu2.jpg");
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 100px;
  position: relative;
  color: #1CB044;
  font-family: 'Space Mono', monospace;
}

.navbar-brand {
  font-family: 'Bigshot One';
}

#robotImage {
  float: right;
}

#welcome {
  font-family: "Bigshot One";
}

.hire {
  font-size: 30px;
  margin: 20px;
  display: inline;
}

hr {
  margin: 50px;
}

a {
  text-decoration: none;
  color: #1CB044;
}

a:hover {
  color: #09ed0d;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h4 {
  font-size: 50px;
}

.myName {
  font-size: 40px;
  font-weight: bold;
}

#about {
  margin-top: 50px;
}

#portfolio {
  margin-top: 50px;
}

.btn {
  background: #00a619;
  background-image: -webkit-linear-gradient(top, #00a619, #0dd90d);
  background-image: -moz-linear-gradient(top, #00a619, #0dd90d);
  background-image: -ms-linear-gradient(top, #00a619, #0dd90d);
  background-image: -o-linear-gradient(top, #00a619, #0dd90d);
  background-image: linear-gradient(to bottom, #00a619, #0dd90d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #81f248;
  text-decoration: none;
}

#seeAll {
  margin: 30px;
}

.container {
  position: relative;
  width: 50%;
  float: left;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: 5px white solid;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
  height: 300px;
  width: 400px;
}

figcaption {
  font-weight: bold;
}

textarea {
  color: black;
}

#contact {
  margin-top: 50px;
  max-width: 50%;
}

b {
  font-family: 'Bigshot One';
}

#social-footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}

#social-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#social-footer ul li {
  display: inline;
  padding: 0.4em;
}

#social-footer a {
  /*  color: #939393 !important; */
  color: white !important;
}

.blacktext {
  color: black;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  background-color: #000;
  opacity: 1;
  z-index: 100;
  a {
    font-weight: 500;
    text-decoration: none;
  }
}

a.fa {
  text-decoration: none
}

a:link {
  text-decoration: none !important;
  outline: 0;
}

.fa-stack {
  margin: -2px;
}

.highlight {
  opacity: 0.6;
}

.highlight:hover {
  opacity: 1;
}